.tasks {
  width: 100%;
  padding: 0 20px;

  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #64C4ED;
    padding-bottom: 10px;
    border-bottom: 1px solid #F2F2F2;

    &-editIcon {
      opacity: .5;
      width: 15px;
      margin-left: 15px;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__items {

    &-row {
      display: flex;
      align-items: center;

      p {
        font-size: 25px;
        margin-left: 40px;
        border: none;
      }
    }

    &-row-task {
      display: flex;
      align-items: center;

      &:hover {
        .penIcon, .removeIcon {
          opacity: .8;
        }
      }

      .penIcon {
        width: 20px;
        cursor: pointer;
        margin-right: 15px;
        opacity: 0;

      }

      .removeIcon {
        cursor: pointer;
        width: 15px;
        opacity: 0;

      }
    }
  }

  .checkbox {
    width: 0;
    display: flex;
    align-items: center;


    input {
      display: none;
    }

    input:checked + label {
      background: #4DD599;
      border-color: #4DD599;

      .checkImg {
        opacity: 1;
      }

    }

    &:hover {
      label {
        background: #DBDBDB;

        .checkImg {
          opacity: .2;
        }
      }
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #E8E8E8;
      border-radius: 20px;
      width: 15px;
      height: 15px;
      cursor: pointer;

      .checkImg {
        width: 15px;
        opacity: 0;
      }
    }
  }
}
